<h1>List Supplier</h1>
ProductID: <%= @ID %></br>
Product Name: <%= @ProductName %></br>
Supplier ID: <%=@SupplierID %></br>
Status(Active/Discontinued):  <%=@Status %></br>
Supplier Name: <%= @SupplierName %></br>
